<div>
	<div [ngStyle]="{'min-width':'500px'}">
		<nb-card accent="info">
			<nb-card-header>Consommation</nb-card-header>
			<nb-card-body>
				<div class="row">
					<div class="col-6" [ngStyle]="{'min-width':'450px'}">
						<nb-card accent="info" fxFlexFill fxLayout="column">
							<nb-card-header>Situation commerciale</nb-card-header>
							<nb-card-body [ngStyle]="{'overflow':'hidden'}">
								<div class="row" [ngStyle]="{'height':'50%'}">
									<div class="col-6" [ngStyle]="{'min-width':'200px'}">
										<nb-card fxFlexFill fxLayout="column">
											<nb-card-body class="p-0">
												<app-smart-table
													[settings]="businessStateSettings"
													[source]="businessState"
													[hasPager]="false"
												></app-smart-table>
											</nb-card-body>
										</nb-card>
									</div>
									<div class="col-6" [ngStyle]="{'min-width':'200px'}">
										<nb-card fxFlexFill fxLayout="column">
											<nb-card-body class="p-0">
												<app-smart-table
													[settings]="mrrSettings"
													[source]="mrr"
													[hasPager]="false"
												></app-smart-table>
											</nb-card-body>
										</nb-card>
									</div>
								</div>
								<div class="row mt-3" [ngStyle]="{'height':'50%', 'min-width':'200px'}">
									<div class="col-md-6 offset-md-3">
										<nb-card>
											<nb-card-body>
												<app-performance-gauge-chart></app-performance-gauge-chart>
											</nb-card-body>
										</nb-card>
									</div>
								</div>
							</nb-card-body>
						</nb-card>
					</div>
					<div class="col-6" [ngStyle]="{'min-width':'450px'}">
						<nb-card accent="info" fxFlexFill fxLayout="column">
							<nb-card-header>Signatures</nb-card-header>
							<nb-card-body>
								<app-signatures-line-chart></app-signatures-line-chart>
							</nb-card-body>
						</nb-card>
					</div>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="mt-3" [ngStyle]="{'min-width':'600px'}">
		<nb-card accent="info">
			<nb-card-header>Projets</nb-card-header>
			<nb-card-body>
				<div class="row">
					<div class="col-6 col-md-4" [ngStyle]="{'min-width':'200px'}">
						<nb-card accent="info" fxFlexFill fxLayout="column">
							<nb-card-header>Synthèse</nb-card-header>
							<nb-card-body class="p-0">
								<app-smart-table
									[settings]="projectsSynthesisSettings"
									[source]="projectsSynthesis"
									[hasPager]="false"
								></app-smart-table>
							</nb-card-body>
						</nb-card>
					</div>
					<div class="col-12 col-md-8" [ngStyle]="{'min-width':'600px'}">
						<nb-card accent="info" fxFlexFill fxLayout="column">
							<nb-card-header>
								<div class="row">
									<div class="col-md-4">Détails des projets</div>
									<div class="col-md-4 offset-md-4">
										<button
											type="button"
											class="btn btn-info btn-sm float-right"
											[routerLink]="['/global-reporting', 'projects']"
										>
											Détails
										</button>
									</div>
								</div>
							</nb-card-header>
							<nb-card-body>
								<app-smart-table
									[settings]="projectSettings"
									[source]="projects"
									[hasPager]="false"
									(onClientClick)="goToClientProjects($event)"
								></app-smart-table>
							</nb-card-body>
						</nb-card>
					</div>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="row mt-3">
		<div class="col-5" [ngStyle]="{'min-width':'550px'}">
			<nb-card accent="info" fxFlexFill fxLayout="column">
				<nb-card-header>
					<div class="row">
						<div class="col-md-4">Factures</div>
						<div class="col-md-4 offset-md-4">
							<button
								type="button"
								class="btn btn-info btn-sm float-right"
								[routerLink]="['/global-reporting', 'invoices']"
							>
								Détails
							</button>
						</div>
					</div>
				</nb-card-header>
				<nb-card-body>
					<app-smart-table
						[settings]="invoiceSettings"
						[source]="invoices"
						[hasPager]="false"
						(onClientClick)="goToClientInvoices($event)"
					>
					</app-smart-table>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="col-2" [ngStyle]="{'min-width':'150px'}">
			<nb-card accent="info" fxFlexFill fxLayout="column">
				<nb-card-header>Satisfaction</nb-card-header>
				<nb-card-body fxLayoutAlign="center center">
					<app-satisfaction-doughnut-chart></app-satisfaction-doughnut-chart>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="col-5" [ngStyle]="{'min-width':'500px'}">
			<nb-card accent="info" fxFlexFill fxLayout="column">
				<nb-card-header>
					<div class="row">
						<div class="col-md-4">Tickets</div>
						<div class="col-md-4 offset-md-4">
							<button
								type="button"
								class="btn btn-info btn-sm float-right"
								[routerLink]="['/global-reporting', 'tickets']"
							>
								Détails
							</button>
						</div>
					</div>
				</nb-card-header>
				<nb-card-body fxLayoutAlign="center center">
					<app-tickets-bar-chart></app-tickets-bar-chart>
				</nb-card-body>
			</nb-card>
		</div>
	</div>
</div>
