<div
	fxFill
	fxLayout="column"
	[ngStyle]="{'min-width':'800px', 'max-width':'1200px', 'flex-basis':'auto', 'border-width':'2px', 'border-style':'dashed', 'border-color':'white'}"
>
	<div fxFlex="50" fxLayout="row">
		<div fxFlex="40" fxLayout="column">
			<div fxFlex="50" fxLayout="row">
				<div fxFlex="70" fxLayoutAlign="space-around center" [ngStyle]="{'background-color':'blue'}">
					<app-business-situation-table fxFlex="100"></app-business-situation-table>
				</div>
				<div fxFlex="30" fxLayoutAlign="space-around center" [ngStyle]="{'background-color':'purple'}">
					<app-mrr-table fxFlex="100"></app-mrr-table>
				</div>
			</div>
			<div fxFlex="50" fxLayoutAlign="space-around center" [ngStyle]="{'background-color':'orange'}">
				<app-performance-gauge-chart fxFlex="50"></app-performance-gauge-chart>
			</div>
		</div>
		<div fxFlex="60" fxLayoutAlign="space-around center" [ngStyle]="{'background-color':'brown'}">
			<app-signature-line-chart fxFlex="100"></app-signature-line-chart>
		</div>
	</div>
	<div fxFlex="25" fxLayout="row" [ngStyle]="{'border-width':'2px', 'border-style':'dashed', 'border-color':'white'}">
		<div fxFlex="30" fxLayoutAlign="space-around center" [ngStyle]="{'background-color':'yellow'}">
			<app-synthesis-projects-table fxFlex="100"></app-synthesis-projects-table>
		</div>
		<div fxFlex="70" fxLayoutAlign="space-around center" [ngStyle]="{'background-color':'grey'}">
			<app-projects-simple-table fxFlex="100"></app-projects-simple-table>
		</div>
	</div>
	<div fxFlex="25" fxLayout="row">
		<div
			fxFlex="50"
			fxLayoutAlign="space-around center"
			[ngStyle]="{'background-color':'teal', 'overflow':'hidden'}"
		>
			<app-bills-simple-table fxFlex="100"></app-bills-simple-table>
		</div>
		<div fxFlex="50">
			<div fxFlex="20" fxLayoutAlign="space-around center" [ngStyle]="{'background-color':'pink'}">
				<app-satisfaction-doughnut-chart fxFlex="100"></app-satisfaction-doughnut-chart>
			</div>
			<div fxFlex="80" fxLayoutAlign="space-around center" [ngStyle]="{'background-color':'coral'}">
				<app-tickets-bar-chart fxFlex="100"></app-tickets-bar-chart>
			</div>
		</div>
	</div>
</div>
<ul>
	<li routerLink="/global-reporting/bills" routerLinkActive="active">
		<a>Factures</a>
	</li>

	<li [routerLink]="['/global-reporting/bills', 1]" routerLinkActive="active">
		<a>Factures par client</a>
	</li>

	<li routerLink="/global-reporting/projects" routerLinkActive="active">
		<a>Projets</a>
	</li>

	<li [routerLink]="['/global-reporting/projects', 1]" routerLinkActive="active">
		<a>Projets par client</a>
	</li>
</ul>
