$universign-min-width: 1000px;
$universign-menu-width: 12em;

$universign-font-family: Calibri;
$universign-menu-font-size: 16px;
$universign-card-font-size: 15px;

$universign-menu-color: #ffffff;
$universign-menu-background-color: #00467f;
$universign-menu-hover: #00465a;
