$universign-min-width: 1000px;
$universign-menu-width: 18vw;

$universign-font-family: Calibri;
$universign-menu-font-size: 1.5vw;
$universign-card-font-size: 15px;

$universign-menu-color: #ffffff;
$universign-menu-background-color: #00467f;
$universign-button-background-color: $universign-menu-background-color;
$universign-table-background-color: $universign-menu-background-color;
$universign-subscription-border-color: $universign-menu-background-color;
$universign-menu-hover: #00465a;
